.quotes{
    border: 1px solid #FF758F;
    box-sizing: border-box;
    border-radius: 3px;
    height: 50px;
    width: 90vh; 
    display: block;
    justify-content: space-around;
    align-items: center; 
    padding: 20px;
}